@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-size:cover ;
    background-repeat:no-repeat ;
    background-attachment: fixed;
    background-position: center center;
  }
a:hover,
a:active,
a:focus,
input:hover,
input:active,
input:focus,
button:hover,
button:active,
textarea:active,
button:focus {
outline: 0;
}

body{
  /* background: url("./images/backgrounds/main_01_1440x1024.jpg")  no-repeat; */
  background: #FF5F6D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
  height: 100vh;
  font-family: 'Montserrat' , sans-serif;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    /* background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
}


header .left, header .right{
    display: flex;
    align-items: center;
}

header a{
    font-family: 'Montserrat' , sans-serif;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
    padding:10px;
}

li{
  list-style: none;
}
header a:hover{
   border-bottom:2px solid white;
}

.dropdown-container{
  position: relative; 
}

.dropdown-container a:hover{
  border:0px;
}

.dropdown-container:hover .dropdown{
  display :block;
}

.dropdown{
  position : absolute;
  left : 0px;
  display:none;
  /* background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
  /* width:175px;   */
}

.dropdown a:hover{
    /* transform: scale(1.2,1.2); */
    border-left:2px solid white;
}