
.sign-up{
    font-weight: 500;
    margin: auto;
    margin-top:10% ;
    padding: 30px;
    width: 350px; 
    font-family: sans-serif;
    background-color: rgba(252, 250, 245, 0.233);
    border-radius: 5px;
  }
  .sign-up label{
    width: 100%;
    margin: 10px;
  }
  .sign-up input{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    color: rgb(83, 83, 83);
    font-size: 17px;
    border:  none;
    
  }
  .sign-up button{
    background-color: cadetblue;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    color: whitesmoke;
    font-weight: bolder;
    font-size: medium;
    border-radius: 4px;
  }
  .sign-up button:hover{
    background-color: rgb(102, 150, 151);
    cursor: pointer;
  }

  