*{
    box-sizing: border-box;
    margin: 0;
  }
  
  /* sign up page */
  .sign-up{
    margin: auto;
    padding: 30px;
    width: 40%; 
  }
  .sign-up label{
    width: 100%;
    margin: 10px;
  }
  .sign-up input{
    width: 100%;
    margin: 10px;
    padding: 10px;
  }
  .sign-up button{
    width: 100%;
    padding: 10px;
    margin: 10px;
  }