@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  /* background: url("./images/backgrounds/main_01_1440x1024.jpg")  no-repeat; */
  background: #FF5F6D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  font-family: 'Montserrat' , sans-serif;
}

/*---- text animation---------*/

.movingtext{
  z-index: 5;
  width: 800px;
  margin: auto; 
}

.infotext{
  width: 500px;
  margin: auto;
}
#logo text{
  font-family: 'Montserrat' , sans-serif;
  stroke: #ffffff ;
  font-size: 5rem;
  stroke-width:2;
  animation: textAnimate 7s ease infinite alternate ;
}

@keyframes textAnimate {
  from{
      stroke-dasharray: 0 50%;
      stroke-dashoffset: 20%;
  }
  to{
      stroke-dasharray: 50% 0;
      stroke-dashoffset: -20%; 
  }
}
@keyframes fill {
  from{
      fill:transparent
  }
  to{
      fill: cadetblue; 
  }
}

/*-----FeedBack Starts---- */

.feedback-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.form-div{
  display: flex;
  justify-content: center;
  max-width: 800px;
}

.form-div >form{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-left,.form-right{
  margin: 10px 5px;
  width: 50%;
}
.form-div input,textarea{
  padding:10px;
  margin-top: 20px;
  font-family:'Montserrat' , sans-serif; 
  border: none;
  width: 100%;
}

.inside-form{
  display: flex;
  align-items: center;
  width: 100%;
}
.form-btn  button{
  background:teal;
  color: #ffffff;
  font-size: medium;
  border-radius: 4px;
}


/*-----FeedBack Ends---- */
/* Go to Top Btn--------------------------------- */
#go-top-btn{
  position: fixed;
  display: none;
  bottom: 5px;
  right: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background: transparent;
  z-index: 10;
}

#go-top-btn:hover{
  background: rgba(255, 255, 255, 0.226);
  cursor: pointer;
}

#go-top-btn:active{
  transform: scale(0.95,0.95);
}

/* ----------Footer --------------------------------------------*/
footer{
  width: 100%;
  min-height: 200px;
  background: rgba(255, 255, 255, 0.315);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-main{
  width:900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left , .footer-right{
  width: 50%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-left{
  padding: 10px;
  font-size: small;
  font-weight: 600;
}
.form-subscribe{
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-right{
  display: flex;
  flex-direction: column;
}
.form-subscribe > form{
  width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.form-subscribe > form > input,button{
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  font-size: medium;
  font-family: Montserrat ,sans-serif;
}

.form-subscribe > form > button {
  background:teal;
  color: #ffffff;
  font-size: medium;
}

.form-subscribe > form > button:hover{
  cursor: pointer;
  /* filter: brightness(110%); */
  background:rgb(25, 150, 150);
}

.social-media{
  display: flex;
  justify-content:center;
}
.social-media li{
  margin : 0px 10px;

}
.social-media li i{
  transition : transform 0.3s ease-out;
  color:black;
}
.social-media li:hover i{
  transform:scale(1.1,1.1);
}


  

/* Media queries */
@media screen and (max-width:700px){
  .movingtext{
    width: 100%;
  }
}


/* .feedback-container{
  width:100%;
  z-index: 10;
  position: fixed;
  top: 30;
  left: 0;
  display: none;
  place-items: center ;
}

.feedback{
  margin: auto;
  display: none;
  width: 500px;
  z-index: 10;
}
.feedback .row{
  position: relative;
  width: 90%;
  display: table;
  margin: 10px;
}
.feedback .row .col-1{
  width: 40%;
  float: left;
  text-align: center;
}
.feedback .row .col-2{
  width: 60%;
  float: left;
  text-align: center;
  border-bottom:1px solid black ;
}
.feedback .row .col-2 textarea{
  resize: none;
  width: 100%;
  height: 100px;
}
.feedback input[type="submit"]{
  float :right;
  margin-right: 10%;
  padding: 08px 20px;
} */
