*{

    box-sizing: border-box;
    margin: 0;
    background-size:cover ;
    background-repeat:no-repeat ;
    background-attachment: fixed;
    background-position: center center;
  }
  

  /*<---- sign up page -------------------------------------------------------------------------- >*/
  .sign-up{
    font-weight: 500;
    margin: auto;
    margin-top:10% ;
    padding: 30px;
    width: 30%; 
    font-family: sans-serif;
    background-color: rgba(252, 250, 245, 0.671);
    border-radius: 5px;
  }
  .sign-up label{
    width: 100%;
    margin: 10px;
  }
  .sign-up input{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    color: rgb(83, 83, 83);
    font-size: 17px;
    border:  none;
    
  }
  .sign-up button{
    background-color: cadetblue;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    color: whitesmoke;
    font-weight: bolder;
    font-size: medium;
  }
  .sign-up button:hover{
    background-color: rgb(102, 150, 151);
  }

/* ----main.html----------------------------------------------------------------------------------->
/*----HEADER START----- */
header{
    width: 100%;
    display: table;
}
.right{
  float: left;
}
.right li{
  list-style: none;
  display: inline-block;
  padding: 10px;
}
.right a{
  text-decoration: none;
}
.left{
  float: right;
}
.left li{
  display: inline-block;
  list-style: none;
  padding: 10px;
}
.left a{
  text-decoration: none;
}
/*----HEADER END------ */
/*---- text animation---------*/

#movingtext{
  width: 50%;
  margin: auto;  
}
#logo text{
  position: absolute;
}

#logo text{
  font-family:fantasy;
  stroke: #154360 ;
  font-size: 100px;
  stroke-width:4;
  animation: textAnimate  5s ease alternate infinite ;
}

@keyframes textAnimate {
  from{
      stroke-dasharray: 0 50%;
      stroke-dashoffset: 20%;
      
  }
  to{
      stroke-dasharray: 50% 0;
      stroke-dashoffset: -20%; 
      
  }
}
@keyframes fill {
  from{
      fill:transparent
  }
  to{
      fill: cadetblue; 
  }
}

/*-----FeedBack Starts---- */

.feedback{
  width: 80%;
  margin: auto;
  display: none;
}
.feedback .row{
  position: relative;
  width: 90%;
  display: table;
  margin: 10px;
}
.feedback .row .col-1{
  width: 40%;
  float: left;
  text-align: center;
}
.feedback .row .col-2{
  width: 60%;
  float: left;
  text-align: center;
  border-bottom:1px solid black ;
}
.feedback .row .col-2 textarea{
  resize: none;
  width: 100%;
  height: 100px;
}
.feedback input[type="submit"]{
  float :right;
  margin-right: 10%;
  padding: 08px 20px;
}
/*-----FeedBack Ends---- */
 